@layer fonts, vars, properties, reset, typography, keyframes, global;

@import url(./fonts.css) layer(fonts);
@import url(./vars.css) layer(vars);
@import url(./properties.css) layer(properties);
@import url(./reset.css) layer(reset);
@import url(./typography.css) layer(typography);
@import url(./keyframes.css) layer(keyframes);
@import url(./global.css) layer(global);

