/* .meganav */
@scope {
  & {
    --grid-column: bro 3 / bro 11;

    display: grid;
    gap: 1rem;
    grid-column: var(--grid-column);
    grid-template-columns: subgrid;
    padding: 1rem 0;
    position: relative;

    ul {
      display: contents;

      li {
        display: contents;
      }
    }

    @container style(--is-desktop: true) {
      --grid-column: 6 / span 8;
    }
  }
}
