@scope {
  & {
    display: grid;
    margin: 0 auto;
    grid-template-columns:
      [box-start] 1rem
      [col-start] repeat(12, [bro] minmax(1rem, 5rem))
      [col-end]
      1rem [box-end];

    height: 100%;
    width: fit-content;
  }
}
