@scope {
  & {
    --pill-triangle-display: block;

    anchor-name: var(--menuItemAnchor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 8;

    @container style(--is-desktop: true) {
      grid-column: span 2;
      flex-direction: row;
    }
  }

  .menu-link {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .pill {
    display: flex;
    background-color: var(--grey-200);
    border-radius: 0.5rem;
    overflow: clip;
    flex: 1 1 100%;
  }

  .menu-toggle {
    display: flex;
    background-color: var(--grey-300);
    border: none;
    padding: 0 1rem;
    cursor: pointer;
  }

  .sub-menu-content {
    --display-animation: display 0.4s allow-discrete;
    --display: none;
    --height: 0;
    --opacity: 1;

    display: var(--display);
    opacity: var(--opacity);
    transition: opacity 0.4s, height 0.4s,
      var(--display-animation);
    margin: unset;

    top: calc(anchor(bottom) + 1rem);
    position-anchor: var(--menuItemAnchor);
    position-area: center bottom;
    position-try: --lefty;

    /* left: calc(anchor(left) - 13%); */

    &:popover-open {
      --display: grid;
      --height: calc-size(auto);
      --opacity: 1;
      --pill-triangle-display: block;

      @starting-style {
        --opacity: 0;
        --height: 0;
      }
    }

    @media (min-width: 400px) {
      min-width: 500px;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    }
  }
}

@position-try --lefty {
  left: auto;
  right: anchor(right);
  /* top: calc(anchor(bottom) + 1rem); */
  position-area: none;
  /* justify-self: unset; */
  /* inset: auto anchor(right) auto auto; */
}
