@scope {
  & {
    --display-animation: display 0.4s allow-discrete;
    --opacity: 0;
    --display: none;

    grid-column: span 2;
    display: flex;
    anchor-name: var(--menuItemAnchor);
    background-color: var(--grey-200);
    border-radius: 0.5rem;
    overflow: clip;

    .menu-link {
      width: 100%;
      height: 100%;
      display: flex;
    }

    .menu-toggle {
      display: flex;
      background-color: var(--grey-300);
      border: none;
      padding: 0 1rem;
      cursor: pointer;
    }

    &:focus-within:not(:has(.menu-link:focus))
      .sub-menu-content {
      --opacity: 1;
      --display: flex;

      @starting-style {
        --opacity: 0;
      }
    }

    .sub-menu-content {
      display: var(--display);
      inset-area: center bottom;
      min-width: 400px;
      opacity: var(--opacity);
      position-anchor: var(--menuItemAnchor);
      position: absolute;
      opacity: var(--opacity);
      transition: opacity 0.4s, var(--display-animation);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);

      li:last-child .menu-item & {
        inset-area: span-left bottom;
      }

      &:hover {
        opacity: 1;
        display: flex;
      }
    }
  }
}
