@scope {
  & {
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
    background-color: var(--background-colour);
    border-radius: var(--border-radius);
    padding: var(--padding, 0);
    display: var(--display, grid);
    grid-template-columns: subgrid;
    grid-template-rows: var(--grid-template-rows);
  }
}
