@scope {
  :scope {
    align-content: center;
    background-color: orange;
    display: grid;
    grid-column: breakout;
    grid-template-columns: subgrid;
    place-items: center;
    border-radius: 4rem 4rem 0 0;
  }

  .inner {
    padding: 4rem 0;
    display: grid;
    grid-column: col;
    grid-template-columns: subgrid;
    gap: 2rem;
  }

  .intro {
    grid-column: col;
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 1rem;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
  }
}
