@scope {
  :scope {
    display: grid;
    grid-column: full-width;
    grid-template-columns: subgrid;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}
