@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@scope {
  :scope {
    display: grid;
    grid-column: full-width-start / full-width-end;
    grid-template-columns: subgrid;

    article {
      background-color: blue;
      display: grid;
      grid-column: col-start / full-width-end;
      height: 100vh;
      place-items: center;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      animation: rotate 2s infinite linear;
      background: conic-gradient(
        from var(--angle) at 0% 0%,
        red,
        yellow,
        lime,
        aqua,
        blue,
        magenta,
        red
      );
    }

    article:nth-child(2n) {
      background-color: grey;
      grid-column: full-width-start / col-end;
    }
  }
}
