/* Demo web fonts from Adobe Fonts */
@import url("https://use.typekit.net/swm2ywc.css");

/* Font palettes */
body,
body.palette-1 {
  --head-fonts: verdana, sans-serif;
  --body-fonts: georgia, serif;
  --code-fonts: calling-code, monospace;
}

body,
body.palette-2 {
  --head-fonts: -apple-system, BlinkMacSystemFont, Aptos,
    "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  --body-fonts: -apple-system-ui-serif, ui-serif,
    "Noto Serif", "Times New Roman", serif;
  --code-fonts: ui-monospace, SFMono-Regular, ui-monospace,
    Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

body.palette-3 {
  --head-fonts: brandon-grotesque, sans-serif;
  --body-fonts: elmhurst, serif;
  --code-fonts: calling-code, monospace;
}

body.palette-4 {
  --head-fonts: ff-tisa-sans-web-pro, sans-serif;
  --body-fonts: karmina, serif;
  --code-fonts: source-code-pro, monospace;
}

body.palette-5 {
  --head-fonts: delittle-chromatic, sans-serif;
  --body-fonts: omnes-pro, sans-serif;
  --code-fonts: logic-monoscript, monospace;
}
*/

/* Set baseline size */
:root {
  font-size: 100%;
}

/* Show baseline grid */
html body {
  background-image: linear-gradient(
    to bottom,
    #0ff 0,
    transparent 1px
  );
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}

/* Set headings to baseline */
h1,
h2,
h3,
h4,
h5,
h6 {
  --baselines: 3;
  --beneath: 1;

  --baseline-push: calc(calc(var(--beneath) * 1rem));

  font-family: var(--head-fonts);
  font-weight: 700;
  line-height: calc(var(--baselines) * 1rem);
  margin: 0;
  padding: 0;
  font-feature-settings: "kern", "lnum", "liga";
  /* padding-top: var(--baseline-shift); */
  margin-bottom: var(--baseline-push);

  text-box-edge: cap alphabetic;
  text-box-trim: both;
}

h4,
h5,
h6 {
  --baselines: 2;
  --beneath: 0;
}

/* Set text to baseline */
p {
  --baselines: 2;
  --beneath: 1;

  --baseline-push: calc(calc(var(--beneath) * 1rem));

  font-family: var(--body-fonts);
  font-size: 1.2rem;
  line-height: calc(var(--baselines) * 1rem);
  margin: 0;
  padding: 0;
  font-feature-settings: "kern", "onum", "liga";
  padding-top: calc(1rem - 1cap);
  margin-bottom: var(--baseline-push);

  text-box-edge: cap alphabetic;
  text-box-trim: both;

  &:last-child {
    margin-bottom: 0;
  }
}

p + h1,
ul + h1,
ol + h1,
p + h2,
ul + h2,
ol + h2,
p + h3,
ul + h3,
ol + h3 {
  padding-top: calc(var(--baseline-shift) + 1rem);
}

/* Heading sizing modular scale */
h1 {
  font-size: 2.85rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

/* Demo UI */
* {
  box-sizing: border-box;
}

.main-col {
  margin: 4rem;
  padding: 3rem;
  background-color: rgba(255, 228, 196, 0.349);
  max-width: 800px;
}
