@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@scope {
  :scope {
    display: grid;
    grid-template-columns: subgrid;

    .content {
      grid-column: col-start / col-end;
      grid-row: 1;
      display: grid;
      grid-template-columns: subgrid;
      gap: 2rem;
      align-items: center;
    }

    .intro {
      grid-column: col-start / span 6;
      grid-row: 1;
      padding: 1rem;
      animation: fadeIn 1s forwards;
      background: white;

      h3 {
        font-size: 2rem;
        margin: 0 0 1rem;
      }
    }

    .image {
      grid-column: 5 / span 8;
      grid-row: 1;
      align-items: center;
    }
  }
}
