@scope {
  :scope {
    display: grid;
    grid-template-columns: subgrid;
  }

  .content {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-column: col;
    grid-row: 1;
    grid-template-columns: subgrid;
  }

  .intro {
    animation: fadeIn 1s forwards;
    background: white;
    border-radius: 1rem;
    grid-row: 1;
    padding: 2rem;

    h3 {
      font-size: 2rem;
      margin: 0 0 1rem;
    }
  }

  .link-button {
    background-color: var(--pink-500);
    border-radius: 2rem;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    justify-self: center;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--pink-900);
    }
  }

  .image {
    align-items: center;
    border-radius: 1rem;
    grid-column: 5 / span 8;
    grid-row: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
