@scope {
  :scope {
    --direction: breakout-start / breakout-end;
    --directionImage: 5 / col-end;
    --directionIntro: col-start / span 6;

    display: grid;
    grid-template-columns: subgrid;
    background-color: var(--slate-50);
    display: grid;
    grid-column: var(--direction);
    padding: 10rem 0;

    &:last-of-type {
      border-radius: 0 0 4rem 4rem;
    }

    .intro {
      grid-column: var(--directionIntro);
    }

    .image {
      grid-column: var(--directionImage);
    }

    &:nth-child(2n) {
      --direction: breakout;
      background-color: var(--slate-300);

      .intro {
        --directionIntro: 6 / col-end;
      }

      .image {
        --directionImage: col-start / span 8;
      }
    }
  }

  .content {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-column: col;
    grid-row: 1;
    grid-template-columns: subgrid;
  }

  .intro {
    background: white;
    border-radius: 1rem;
    grid-row: 1;
    padding: 4rem;
    position: relative;
    display: grid;
    align-items: baseline;

    h3 {
      font-size: var(--font-size-lg);
      margin: 0 0 2rem;
      text-box-edge: cap alphabetic;
      text-box-trim: both;
      font-family: "Playfair Display", "Times New Roman",
        Times, serif;
    }

    p {
      font-size: var(--font-size-base);
      line-height: 1.4em;
      margin: 0 0 2rem;
      text-box-edge: cap alphabetic;
      text-box-trim: both;
      color: var(--gray-600);
    }
  }

  .link-button {
    background-color: var(--pink-500);
    border-radius: 0.5rem;
    color: white;
    display: inline-block;
    font-size: var(--font-size-md);
    font-weight: 500;
    justify-self: center;
    padding: 0.5em 2em;
    text-decoration: none;
    transition: background-color 0.3s;
    justify-self: end;

    &:hover {
      background-color: var(--pink-900);
    }
  }

  .image {
    align-items: center;
    border-radius: 1rem;
    grid-column: 5 / span 8;
    grid-row: 1;
  }
}
