@scope {
  & {
    display: block;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    details {
      padding: var(--spacing-sm) 0;
    }

    .content {
      padding: var(--spacing-sm) 0;
    }

    li {
      &::marker {
        content: none;
      }
    }
  }
}
