@scope {
  :scope {
    align-content: center;
    display: grid;
    grid-column: full-width;
    grid-template-columns: subgrid;
    grid-template-rows: min-content 7rem;
  }

  .hero-panel {
    grid-column: 4 / span 10;
    display: grid;
    grid-template-columns: subgrid;
    background-color: var(--slate-50);
    background-color: white;
    border-radius: 2rem;
    grid-template-rows: 5rem 1fr 5rem min-content 6rem;
  }

  .title {
    font-size: 4.12rem;
    grid-row: span 8;
    line-height: 4.5rem;
    margin: 0;
    opacity: 0.75;
    text-align: right;
    text-box-edge: cap alphabetic;
    text-box-trim: both;
  }

  .title-wrap {
    display: grid;
    grid-column: span 4;
    grid-row: span 8;
    grid-template-rows: subgrid;
  }

  .intro {
    display: grid;
    grid-template-rows: repeat(8, 1.5rem);
    grid-template-columns: subgrid;
    grid-row: 2;
    grid-column: 2 / span 8;
    column-gap: 2rem;
  }

  .word-first {
    opacity: 0.75;
    position: relative;
    top: 0.26em;
  }

  .word-rest {
    text-box-trim: both;
    text-box-edge: cap alphabetic;
    display: contents;
  }

  p {
    display: flex;
    font-size: 1.1rem;
    grid-row: span 3;
    letter-spacing: 0.015em;
    line-height: 1.4em;
    margin: 0;
    padding: 0 0 0.03em 0;
    opacity: 0.75;
    text-box-edge: cap alphabetic;
    text-box-trim: both;
    text-wrap: balance;

    &:first-of-type {
      margin-top: 0.3em;
    }

    &:last-of-type {
      margin-top: 0.3em;
    }
  }

  .link-button {
    align-items: center;
    background-color: var(--pink-500);
    border-radius: 2rem;
    color: white;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 600;
    grid-row: span 2;
    justify-self: start;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--pink-900);
    }
  }

  .text {
    grid-column: span 4;
    grid-row: span 8;
    display: grid;
    grid-template-rows: subgrid;
  }
}
