h2 {
  font-size: 4.2rem;
  margin: 0;
  font-family: "Playfair Display", serif;
  opacity: 0.75;
  text-box-trim: both;
  text-box-edge: cap alphabetic;
  line-height: 4.5rem;
  text-align: right;

  span {
    display: contents;
  }

  & span:first-child {
    line-height: 5rem;
    font-style: italic;
    top: 0.26em;
    opacity: 0.75;
    font-weight: 700;
    position: relative;
    display: inline-block;
    right: 0.17em;
  }
}
@scope {
  :scope {
    display: grid;
    grid-column: full-width-start / full-width-end;
    grid-template-columns: subgrid;
    grid-template-rows: min-content 7rem;
    align-content: center;

    .hero-inner {
      grid-column: 4 / span 10;
      display: grid;
      grid-template-columns: subgrid;
      background-color: var(--slate-50);
      /* grid-auto-rows: 1rem; */
      /* padding: 5rem 0; */
      border-radius: 2rem;
      /* gap: 2rem; */
      grid-template-rows: 5rem repeat(8, 1.5rem) 1fr 5rem;

      p {
        font-size: 1.1rem;
        line-height: 1.4em;
        letter-spacing: 0.015em;
        opacity: 0.75;
        margin: 0;
        text-box-trim: both;
        text-box-edge: cap alphabetic;
        margin-top: 0.6em;
      }
    }

    .link-button {
      display: inline-block;
      display: none;
      padding: 1rem 2rem;
      background-color: var(--pink-500);
      color: white;
      border-radius: 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      transition: background-color 0.3s;
      justify-self: center;

      &:hover {
        background-color: var(--pink-900);
      }
    }

    .inner-intro {
      display: grid;
      grid-column: 2 / span 4;
      grid-row: 2 / span 8;
      grid-template-rows: subgrid;
    }

    .text {
      grid-column: span 4;
      grid-row: 2 / span 8;
      display: grid;
      flex-direction: column;
      justify-content: space-between;
      grid-template-rows: subgrid;
      padding-left: 2rem;
      opacity: 0.85;
    }
  }
}
