:root {
  --blue: blue;
  --red: red;
}

@property --gradient-start-color {
  syntax: "<color>";
  inherits: false;
  initial-value: blue;
}

@property --gradient-end-color {
  syntax: "<color>";
  inherits: false;
  initial-value: red;
}

@keyframes gradient-shift {
  0% {
    --gradient-start-color: var(--blue);
    --gradient-end-color: var(--red);
  }
  100% {
    --gradient-start-color: var(--red);
    --gradient-end-color: var(--blue);
  }
}

@property --time {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

@keyframes time {
  from {
    --time: 0;
  }
  to {
    --time: 1;
  }
}

@scope {
  :scope {
    align-items: center;
    background-color: whitesmoke;
    display: grid;
    grid-column: full-width-start / full-width-end;
    grid-template-columns: subgrid;
    grid-template-rows: min-content 1fr min-content 1fr;
    height: 100dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    article {
      background-color: yellow;
      padding: 1rem;
      display: grid;
      grid-column: 6 / span 4;
      grid-row: 3;
      place-items: center;
    }

    .container {
      grid-column: 6 / span 4;
      grid-row: 3;
      place-items: center;
    }
  }
}
