@scope {
  :scope {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-width-start / full-width-end;
    grid-row: 3;
    align-items: center;
    grid-template-rows: min-content 1fr;
    row-gap: 7rem;
    align-items: center;

    .inner {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: col-start / col-end;
      background-color: yellow;
      /* gap: 2rem; */
      align-items: center;
    }

    .nice {
      grid-column: 5 / span 4;
      display: grid;
      grid-template-columns: subgrid;
      align-items: center;
      background-color: orange;
      gap: 2rem;

      @media (max-width: 600px) {
        background-color: red;
      }
    }
  }
}
