@scope {
  :scope {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-width-start / full-width-end;
    align-items: center;
    grid-template-rows: min-content 1fr;
    align-items: center;
    background-color: var(--slate-50);
    /* border-radius: 5rem 5rem 0 0; */

    .inner {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: col-start / col-end;
      gap: 2rem;
      align-items: center;
      padding: 2rem 0;
    }

    .disclaimer {
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
      align-items: center;
      text-align: center;
    }

    .icons {
      grid-column: 5 / span 4;
      display: grid;
      grid-template-columns: subgrid;
      align-items: center;
      gap: 2rem;
    }

    .trigger {
      position: relative;

      &.apple {
        anchor-name: --tooltipApple;
      }

      &.google {
        anchor-name: --tooltipGoogle;
      }

      &.facebook {
        anchor-name: --tooltipFacebook;
      }

      &.spotify {
        anchor-name: --tooltipSpotify;
      }
    }

    .tooltip {
      position: absolute;
      inset-area: block-start;
      position-try: flip-block;
      margin: 0;

      &.apple {
        position-anchor: --tooltipApple;
      }

      &.google {
        position-anchor: --tooltipGoogle;
      }

      &.facebook {
        position-anchor: --tooltipFacebook;
      }

      &.spotify {
        position-anchor: --tooltipSpotify;
      }
    }

    [popover]:popover-open {
      @starting-style {
        --open: 0;
      }

      --open: 1;
      transition: display 0.2s, overlay 0.2s, opacity 0.2s,
        scale 0.2s, top 0.2s, right 0.2s, left 0.2s,
        bottom 0.2s;
    }
  }
}
