@scope {
  & {
    background-color: var(--slate-200);
    border-radius: 0.5rem;
    grid-column: span 12;
    grid-row: span 1;
    padding: 2rem;
    transition: background-color 0.2s
      cubic-bezier(0.45, 0.05, 0.55, 0.95);
    /* view-transition-name: article; */

    &:first-child {
      grid-column: span 12;
      view-transition-name: var(--transition-article);
    }

    &:has(:hover) {
      background-color: var(--slate-300);
    }

    @container style(--is-desktop: true) {
      grid-column: span 6;
    }

    h3 {
      font-size: 44px;
      line-height: 4rem;
      margin: 0 0 2rem 0;
      opacity: 0.8;
    }

    p {
      line-height: 32px;
      opacity: 0.6;
      padding-top: calc(1rem - 1cap);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
