@scope {
  & {
    background-color: var(--slate-200);
    border-radius: 0.5rem;
    grid-column: span 12;
    grid-row: span 1;
    padding: 2rem;
    transition: background-color 0.2s
      cubic-bezier(0.45, 0.05, 0.55, 0.95);
    /* view-transition-name: var(--transition-article); */

    &:first-child,
    &:last-child {
      grid-column: span 12;

      .icon svg {
        display: block;
      }
    }

    .icon {
      float: right;
      shape-outside: circle(50% at -20% 50%);
      /* shape-outside: ellipse(130px 140px at 20% 20%); */
      clip-path: circle(50%);
      overflow: clip;
    }

    .icon svg {
      fill: var(--slate-500);
      height: 25rem;
      width: 25rem;

      display: none;

      opacity: 0.2;
    }

    &:has(:hover) {
      background-color: var(--slate-300);
    }

    @container style(--is-desktop: true) {
      grid-column: span 6;
    }

    h3 {
      font-size: 44px;
      line-height: 4rem;
      margin: 0 0 2rem 0;
      opacity: 0.8;
    }

    p {
      line-height: 32px;
      opacity: 0.6;
      padding-top: calc(1rem - 1cap);
      /* columns: 2; */
      /* columns: 2 20rem; */

      /* &:first-letter {
        initial-letter: 2 2;
        font-family: var(--font-family-headings);
        margin-right: 0.5lh;
        font-weight: bold;
      } */

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* &::first-line {
        font-variant: small-caps;
        font-weight: bold;
        text-transform: uppercase;
      } */
