@scope {
  & {
    --grid-column: 1 / -1;

    display: flex;
    padding: 0.3em 0 0.3em 1.5em;
    grid-column: var(--grid-column);
    gap: 0.5em;
    align-items: center;
    justify-content: center;

    @container style(--is-desktop: true) {
      --grid-column: span 4;
    }

    svg {
      max-width: 3em;
    }

    .icon {
      font-size: 2em;
      color: hsl(0deg 1.57% 16.4%);

      .material-symbols-outlined {
        font-size: 1.5em;
      }
    }

    h1 {
      font-size: 1.3em;
      margin: 0 0 0.1em 0;
      color: hsl(0deg 1.57% 16.4%);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
