@scope {
  :scope {
    display: flex;
    padding: 0.5em 1em;
    grid-column: span 4;
    gap: 0.5em;
    align-items: center;

    .icon {
      font-size: 2em;
      color: grey;

      .material-symbols-outlined {
        font-size: 1.5em;
      }
    }

    h1 {
      font-size: 1.5em;
      margin: 0 0 0.1em 0;
    }
  }
}
