@scope {
  & {
    --bg: linear-gradient(to bottom, #0ff 0, transparent 1px);

    background-color: var(--slate-300);
    border-radius: var(--radius-lg);
    inset: 1rem auto auto 1rem;
    padding: 1rem;
    border: 5px solid var(--slate-900);

    &::backdrop {
      background-image: var(--bg);
      background-repeat: repeat-y;
      background-size: 100% 1rem;
      clip-path: inset(0% 10% 0% 10% round 50%);
      position: absolute;
    }
  }
}
