@scope {
  :scope {
    background-color: var(--pink-500);
    border-radius: 0.5rem;
    color: white;
    display: inline-block;
    font-size: var(--font-size-md);
    font-weight: 500;
    justify-self: center;
    padding: 0.5em 2em;
    text-decoration: none;
    transition: background-color 0.3s;
    justify-self: end;

    &:hover {
      background-color: var(--pink-900);
    }
  }
}
