@scope {
  :scope {
    display: grid;
    column-gap: var(--local-gutter);
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [center-start] repeat(
        12,
        [gutter-start] 0.5rem 0.5rem [gutter-end col-start]
          minmax(0, 120px) [col-end]
      )
      [gutter-start] var(--gutter-columns)
      [center-end gutter-end] minmax(2rem, 1fr)
      [full-end];

    &.root-grid {
      min-height: 100dvh;
      grid-template-rows: auto 1fr auto;
    }
  }
}
