@scope {
  & {
    /* --grid-column: bro 3 / bro 11; */

    --grid-column: 3 / span 4;

    color: black;
    display: flex;
    grid-column: var(--grid-column);
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: background-color 0.2s;
    border-radius: 0.5em;
    text-decoration-thickness: 0.07lh;
    text-underline-offset: 0.17lh;

    &:hover,
    &:focus-visible {
      cursor: pointer;
      background-color: var(--gray-200);
    }

    @container style(--is-desktop: true) {
      --grid-column: 3 / span 4;
    }

    svg {
      max-width: 3.5em;
    }

    .icon {
      font-size: 2em;
      color: var(--slate-900);
    }

    span {
      font-size: 1rem;
      margin: 0 0 0.1em 0;
      color: var(--slate-900);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
