@scope {
  & {
    --transition: background-color 0.2s
      cubic-bezier(0.45, 0.05, 0.55, 0.95);

    background-color: var(--slate-200);
    border-radius: 0.5rem;
    grid-column: span 12;
    grid-row: span 1;
    padding: 2rem;
    transition: var(--transition);
    /* margin-bottom: 2rem; */

    /* position: relative; */

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      grid-column: span 12;
    }

    p {
      font-size: 1.25rem;
      grid-column: span 12;
    }
  }
}
