@scope {
  & {
    background-color: var(--slate-200);
    border-radius: var(--radius-lg);
    grid-column: var(--grid-column-span);
    grid-row: 2;
    padding: var(--spacing-lg);

    h1 {
      font-size: var(--font-scaled-lg);
    }
  }
}
