/* .megamenu */
@scope {
  & {
    --grid-template-columns: subgrid;

    display: grid;
    grid-template-columns: var(--grid-template-columns);
    view-transition-name: header;
    z-index: 1000;
    grid-template-rows: min-content 2rem;
    grid-column: box;
    position: static;
    background-color: transparent;
    border: none;
    padding: 0;
    overflow: clip;

    @container style(--is-desktop: false) {
      display: none;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(0.4rem);
    }

    &:popover-open {
      --opacity: 1;
      --grid-template-columns: var(--master-grid);

      display: grid;

      .content {
        @container style(--is-desktop: false) {
          grid-column: bro 2 / bro 12;
        }
      }

      .submenu {
        inset: auto 0 calc(-9rem + anchor(bottom)) 0;
      }

      .inner {
        border-radius: 2rem;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        grid-column: bro 2 / bro 12;
      }

      @starting-style {
        --opacity: 0;
      }
    }
  }

  .inner {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    display: grid;
    grid-column: box;
    grid-row: 1;
    grid-template-columns: subgrid;
    padding: 1rem;
    transition: padding 0.3s ease;

    &:has(:popover-open) {
      padding-bottom: 10rem;
    }
  }
}

/* .inner {
  background-color: pink;

  .surface & {
    background-color: greenyellow;
  }
} */
