@scope {
  :scope {
    display: grid;
    grid-template-columns: subgrid;
    view-transition-name: header;
    z-index: 1000;
    grid-template-rows: min-content 2rem;
    grid-column: box;

    .inner {
      background-color: white;
      border-radius: 0 0 1rem 1rem;
      display: grid;
      grid-column: box;
      grid-row: 1;
      grid-template-columns: subgrid;
      padding: 1rem;
      transition: padding 0.3s 0.3s ease;

      &:has(.mega:popover-open) {
        padding-bottom: 10rem;
        transition: padding 0.3s ease;
      }
    }
  }
}
