@scope {
  :scope {
    display: grid;
    /* grid-template-columns:
      [full-width-start] minmax(1rem, 1fr)
      [col-start] repeat(12, minmax(1rem, 6rem)) [col-end]
      minmax(1rem, 1fr) [full-width-end]; */
    grid-template-columns:
      [full-width-start] minmax(1rem, 1fr)
      [breakout-start] 100px
      [col-start] repeat(12, minmax(1rem, 6rem)) [col-end]
      100px [breakout-end]
      minmax(1rem, 1fr) [full-width-end];
    grid-template-rows: 1fr 100dvh 1fr min-content;
    height: 100%;
    overflow: hidden scroll;
    scroll-behavior: smooth;

    .hero {
      grid-column: full-width;
    }

    .footer {
      grid-column: full-width;
    }
  }
}
