@scope {
  & {
    display: grid;
    grid-template-columns: subgrid;
    gap: 1rem;
    padding: 1rem 0;
    border-radius: 0 0 2em 2em;
    grid-column: 6 / span 8;
  }

  .trigger {
    background-color: #eee;
    border: none;
    border-radius: 0.5em;
    color: var(--slate-900);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    grid-column: span 2;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus-visible {
      outline: 2px dashed var(--accent);
      outline-offset: var(--outline-offset, -0.5em);
    }
  }

  .mega {
    --repeat: repeat(12, [bro] minmax(1rem, 5rem));
    --cols: [box-start] 1rem [col-start] var(--repeat)
      [col-end] 1rem [box-end];
    --display-animation: display 0.3s allow-discrete;
    --opacity: 0;

    border: none;
    inset: auto 0 calc(-10rem + anchor(bottom)) 0;
    grid-template-columns: var(--cols);
    margin: 0 auto;
    opacity: var(--opacity);
    padding: 0;
    transition: opacity 0.3s 0.2s, var(--display-animation);
    min-height: 8rem;

    &:popover-open {
      --opacity: 1;

      display: grid;

      @starting-style {
        --opacity: 0;
      }
    }
  }

  .content {
    background-color: var(--slate-200);
    border-radius: 0 0 0.5rem 0.5rem;
    display: grid;
    gap: 1rem;
    grid-column: col;
    grid-template-columns: subgrid;
    padding: 1rem;
  }

  ul {
    padding: 0;
    grid-column: bro 1 / span 4;

    li {
      list-style-type: none;

      a {
        background: #eee;
        padding: 0.2rem 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        display: inline-flex;
      }
    }
  }
}
