@scope {
  :scope {
    --bg: hsl(0deg 0% 100% / 58%);

    animation: stickyNav linear forwards;
    animation-timeline: view(100vh calc(100vh + 300px));
    backdrop-filter: blur(0.35rem);
    background-color: var(--bg);
    display: grid;
    grid-column: col;
    grid-template-columns: subgrid;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 1.5rem;
    border-radius: 0 0 2em 2em;
  }
}

@keyframes stickyNav {
  to {
    font-size: 1rem;
    /* grid-column: full-width; */
    background-color: hsl(0deg 0% 100% / 78%);
  }
}
