@scope {
  :scope {
    background-color: #fff;
    display: grid;
    grid-template-columns: subgrid;

    .logo {
      grid-column: 1 / span 2;
    }

    .nav {
      grid-column: 6 / col-end;
    }
  }
}
