/* .megamenu */
@scope {
  & {
    --grid-template-columns: subgrid;
    --display: grid;

    display: var(--display);
    grid-template-columns: var(--grid-template-columns);
    view-transition-name: header;
    grid-column: box;
    background-color: transparent;
    padding: 0;
    overflow: clip;
    position: static;

    @container style(--is-desktop: false) {
      --display: none;
      grid-template-rows: min-content 2rem;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(0.4rem);
    }

    &:popover-open {
      --opacity: 1;
      --grid-template-columns: var(--master-grid);
      --display: grid;

      @starting-style {
        --opacity: 0;
      }
    }
  }
}
