@scope {
  :scope {
    display: grid;
    grid-column: col-start / full-width-end;
    height: 100vh;
    grid-template-columns: subgrid;
    place-items: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background-color: white;
    align-content: center;
    /* gap: 3rem; */

    .wrap {
      gap: 2rem;
      padding: 2rem;
      display: grid;
      grid-column: col-start / col-end;
      grid-template-columns: subgrid;

      > * {
        grid-column: span 4;
      }
    }
  }
}
