@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.groce {
  animation: rotate 2s infinite linear;
  background: conic-gradient(
    from var(--angle) at 0% 0%,
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    red
  );
}
