@layer fonts, colours, vars, reset, typography, icons;

@import url(./fonts.css) layer(fonts);
@import url(./colours.css) layer(colours);
@import url(./vars.css) layer(vars);
@import url(./reset.css) layer(reset);
@import url(./typography.css) layer(typography);
@import url(./icons.css) layer(icons);
