@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --grid-row {
  syntax: "*";
  inherits: false;
  initial-value: auto;
}
@property --grid-template-columns {
  syntax: "*";
  inherits: false;
  initial-value: subgrid;
}

@property --row-gap {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --display {
  syntax: "grid | flex | block | inline | inline-block | inline-flex | none";
  inherits: false;
  initial-value: grid;
}

@property --padding {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --local-gutter {
  syntax: "<length>";
  initial-value: 0;
  inherits: false;
}

@property --gutter-columns {
  syntax: "*";
  initial-value: 0.5rem;
  inherits: false;
}

@property --repeat-columns {
  syntax: "*";
  initial-value: 0.5rem 0.5rem minmax(0, 120px);
  inherits: false;
}
