h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
:is(h1, h2, h3, h4, h5, h6) span {
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-colour);
  font-family: var(--font-family-heading);
  margin-block: unset;
  scroll-margin-top: var(--spacing-lg);
  text-wrap: balance;
  padding-top: calc(var(--spacing-md) - 1cap);
}

h1 {
  font-weight: 1000;
  font-size: var(--font-scaled-xxl);
}

h2 {
  font-size: var(--font-scaled-xl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-scaled-lg);
  font-weight: 600;
  line-height: 3rem;
}

h4 {
  font-size: var(--font-scaled-md);
}

h5 {
  font-size: var(--font-scaled-base);
}

h6 {
  font-size: var(--font-scaled-sm);
}

p {
  color: var(--body-colour);
  font-size: var(--font-scaled-base);
  letter-spacing: 0.015em;
  line-height: 2rem;
  margin-block-start: unset;
  max-width: 60ch;
  padding-top: calc(var(--spacing-base) - 1cap);
  text-wrap: pretty;

  &:last-child {
    margin-bottom: 0;
  }

  &:has(+ p) {
    margin-block-end: var(--spacing-md);
  }

  &:has(+ a > :is(h1, h2, h3, h4, h5, h6)) {
    margin-block-end: var(--spacing-xl);
  }
}

a {
  color: inherit;
  text-decoration: none;

  > :is(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0;
  }

  &[class]:visited {
    color: inherit;
  }

  &:not([class]) {
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.14em;
    text-decoration-color: var(--accent);
    transition: var(--transition-color);
  }

  &:has(h1, h2, h3, h4, h5, h6) {
    display: inline-flex;
    margin-block-end: var(--spacing-md);

    &:focus-visible {
      outline: 2px dashed var(--accent);
      outline-offset: 1.5em;
    }
  }

  &:has(h1) {
    margin-block-end: var(--spacing-xl);
  }

  &:has(h2) {
    margin-block-end: var(--spacing-lg);
  }
}

blockquote {
  hanging-punctuation: first last;
}

button {
  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: var(--outline-offset, -0.5em);
  }
}
