h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
:is(h1, h2, h3, h4, h5, h6) span {
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  margin-block: 0;
  scroll-margin-top: 4rem;
  text-wrap: balance;
  padding-top: calc(2rem - 1cap);
}

h1 {
  font-weight: 1000;
  font-size: var(--font-scaled-xxl);
}

h2 {
  font-size: var(--font-scaled-xl);
}

h3 {
  font-size: var(--font-scaled-lg);
  font-weight: 600;
}

h4 {
  font-size: var(--font-scaled-md);
}

h5 {
  font-size: var(--font-scaled-base);
}

h6 {
  font-size: var(--font-scaled-sm);
}

p {
  letter-spacing: 0.015em;
  line-height: 2rem;
  max-width: 90ch;
  color: var(--gray-700);
  padding-top: calc(1rem - 1cap);
  text-wrap: pretty;
  font-size: var(--font-scaled-base);

  &:last-child {
    margin-bottom: 0;
  }
  &:has(+ p) {
    margin-block-end: 2rem;
  }

  &:has(+ a > :is(h1, h2, h3, h4, h5, h6)) {
    margin-block-end: 4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;

  > :is(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0;
  }

  &[class]:visited {
    color: inherit;
  }

  &:not([class]) {
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.14em;
    text-decoration-color: var(--accent);
    transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  &:has(h1, h2, h3, h4, h5, h6) {
    display: inline-block;
    margin-block-end: 2rem;

    &:focus-visible {
      outline: 2px dashed var(--accent);
      outline-offset: 1.5em;
    }
  }
}

blockquote {
  hanging-punctuation: first last;
}

button {
  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: var(--outline-offset, -0.5em);
  }
}
