:root {
  /* Oklab */
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);
  /* Primary */
  --success: oklch(0.75 0.3 148.61);
  --success-100: oklch(from var(--success) 100% 5% h);
  --success-200: oklch(from var(--success) 90% 5% h);
  --success-300: oklch(from var(--success) 80% 5% h);
  --success-400: oklch(from var(--success) 70% 5% h);
  --success-500: oklch(from var(--success) 60% 5% h);
  --success-600: oklch(from var(--success) 50% 5% h);
  --success-700: oklch(from var(--success) 40% 5% h);
  --success-800: oklch(from var(--success) 30% 5% h);
  --success-900: oklch(from var(--success) 20% 5% h);
  --success-1000: oklch(from var(--success) 10% 5% h);
  /* Warning */
  --warning: oklch(0.8 0.19 99.45);
  --warning-100: oklch(from var(--warning) 100% 5% h);
  --warning-200: oklch(from var(--warning) 90% 5% h);
  --warning-300: oklch(from var(--warning) 80% 5% h);
  --warning-400: oklch(from var(--warning) 70% 5% h);
  --warning-500: oklch(from var(--warning) 60% 5% h);
  --warning-600: oklch(from var(--warning) 50% 5% h);
  --warning-700: oklch(from var(--warning) 40% 5% h);
  --warning-800: oklch(from var(--warning) 30% 5% h);
  --warning-900: oklch(from var(--warning) 20% 5% h);
  --warning-1000: oklch(from var(--warning) 10% 5% h);
  /* Error */
  --error: oklch(0.58 0.26 16.73);
  --error-100: oklch(from var(--error) 100% 5% h);
  --error-200: oklch(from var(--error) 90% 5% h);
  --error-300: oklch(from var(--error) 80% 5% h);
  --error-400: oklch(from var(--error) 70% 5% h);
  --error-500: oklch(from var(--error) 60% 5% h);
  --error-600: oklch(from var(--error) 50% 5% h);
  --error-700: oklch(from var(--error) 40% 5% h);
  --error-800: oklch(from var(--error) 30% 5% h);
  --error-900: oklch(from var(--error) 20% 5% h);
  --error-1000: oklch(from var(--error) 10% 5% h);
  /* Grey */
  --grey: oklch(0.48 0.24 261.35);
  --grey-100: oklch(from var(--grey) 100% 5% h);
  --grey-200: oklch(from var(--grey) 90% 5% h);
  --grey-300: oklch(from var(--grey) 80% 5% h);
  --grey-400: oklch(from var(--grey) 70% 5% h);
  --grey-500: oklch(from var(--grey) 60% 5% h);
  --grey-600: oklch(from var(--grey) 50% 5% h);
  --grey-700: oklch(from var(--grey) 40% 5% h);
  --grey-800: oklch(from var(--grey) 30% 5% h);
  --grey-900: oklch(from var(--grey) 20% 5% h);
  --grey-1000: oklch(from var(--grey) 10% 5% h);
  /* Slate */
  --slate: oklch(0.48 0.24 261.35);
  --slate-100: oklch(from var(--slate) 100% 5% h);
  --slate-200: oklch(from var(--slate) 90% 5% h);
  --slate-300: oklch(from var(--slate) 80% 5% h);
  --slate-400: oklch(from var(--slate) 70% 5% h);
  --slate-500: oklch(from var(--slate) 60% 5% h);
  --slate-600: oklch(from var(--slate) 50% 5% h);
  --slate-700: oklch(from var(--slate) 40% 5% h);
  --slate-800: oklch(from var(--slate) 30% 5% h);
  --slate-900: oklch(from var(--slate) 20% 5% h);
  --slate-1000: oklch(from var(--slate) 10% 5% h);
  /* Typography */
  --font-size-xxxl: 3rem;
  --font-size-xxl: 2.25rem;
  --font-size-xl: 1.75rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.25rem;
  --font-size-base: 1rem;
  --size: clamp(0.4rem, 1.5vw, 1.5rem);
  --font-family-headings: "Playfair Display",
    "Times New Roman", Times, serif;
  --font-family: "Inter", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-size-sm: clamp(0.7rem, 0.35vw + 0.61rem, 0.89rem);
  --font-size-base: clamp(
    0.88rem,
    0.57vw + 0.73rem,
    1.19rem
  );
  --font-size-md: clamp(1.09rem, 0.89vw + 0.87rem, 1.58rem);
  --font-size-lg: clamp(1.37rem, 1.35vw + 1.03rem, 2.11rem);
  --font-size-xl: clamp(1.71rem, 2.01vw + 1.21rem, 2.81rem);
  --font-size-xxl: clamp(2.14rem, 2.93vw + 1.4rem, 3.75rem);
  --font-size-xxxl: clamp(2.67rem, 4.23vw + 1.61rem, 5rem);
  /* Extra */
  --accent: hwb(321 6% 24%);

  --spacing-base: 1rem;
  --spacing-lg: calc(var(--spacing) * 2);
  --spacing-xl: calc(var(--spacing) * 3);

  --radius: 0.8rem;
  --radius-lg: 1.5rem;
  --radius-xl: 5rem;
}
