:root {
  --accent: hwb(321 6% 24%);

  --spacing: 1rem;
  --spacing-lg: calc(var(--spacing) * 2);
  --spacing-xl: calc(var(--spacing) * 3);

  --radius: 0.8rem;
  --radius-lg: 1.5rem;
  --radius-xl: 5rem;
}
