@scope {
  :scope {
    grid-column: full-width;
    display: grid;
    grid-template-columns: subgrid;
  }
  
  .intro {
      display: grid;
      grid-column: full-width;
      grid-template-columns: subgrid;
      grid-template-rows: 10rem 1fr;
    }

  .inner {
      backdrop-filter: blur(0.35rem);
      background-color: rgba(255, 255, 255, 0.7);
      grid-column: col;
      display: grid;
      gap: 2rem;
      padding: 4rem;
      grid-row: 2;
      border-radius: 3rem 3rem 0 0;

    h2 {
      margin: 0;
      text-box-edge: cap alphabetic;
      text-box-trim: both;
    }
  }
  
  .banner {
    grid-column: col;
  }

  .wrap {
    display: grid;
    grid-column: full-width;
    grid-template-columns: subgrid;

    .about {
      display: grid;
      grid-row: 1 / span 10;
      grid-column: col;
      background: white;
      grid-template-columns: subgrid;
      gap: 2rem;

      .text {
        grid-column: 4 / span 6;
        padding-bottom: 6rem;
      }
    }
  }

  .callout,
  .callout2 {
    grid-row: 5;
    grid-column: breakout / span 4;
    background-color: whitesmoke;
    z-index; 100;
    align-self: center;
    padding: 1rem;
    border-radius: 1rem;

    h3 {
      margin: 0;
    }
  }

  .callout2 {
    grid-row: 2;
    grid-column: span 4 / breakout;
  }

  .mission {
    display: grid;
    grid-column: full-width;
    border-radius:3rem;
    padding: 2rem;
    background: var(--slate-300);
  }

  .vision {
    border-radius: 0 0 3rem 3rem;
    padding: 2rem;
  }

  section {
    grid-column: col;

    &:nth-child(odd) {
      background: white;
    }
  }
}
