@scope {
  & {
    padding: var(--spacing-lg);
    border-radius: var(--radius-lg);
    grid-column: var(--grid-column-span);
    grid-row: 2;
    background-color: var(--slate-300);
    view-transition-name: slider;
    min-height: 10rem;
  }

  .links {
    display: flex;
    gap: var(--spacing-lg);
  }

  .link {
    align-items: center;
    background-color: var(--slate-200);
    border-radius: var(--radius-md);
    display: flex;
    gap: var(--spacing-md);
    padding: var(--spacing-md) var(--spacing-lg);

    .text {
      text-box-edge: cap alphabetic;
      text-box-trim: trim-both;
      font-weight: 500;
    }

    .icon svg {
      width: 2rem;
      height: 2rem;

      path {
        fill: var(--slate-500);
      }
    }
  }
}
