@scope {
  & {
    padding: 2rem;
    border-radius: 0.5rem;
    grid-column: bro 1 / span 12;
    background-color: var(--slate-300);
    view-transition-name: slider;
    min-height: 10rem;

    h2 {
      margin-bottom: 2rem;
      font-size: 69px;

      + p {
        padding-top: calc(1rem - 1cap);
        line-height: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .links {
    display: flex;
    gap: 1rem;
  }

  .link {
    background-color: #eee;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .text {
      text-box-edge: cap alphabetic;
      text-box-trim: both;
      font-weight: 500;
    }

    .icon svg {
      width: 2rem;
      height: 2rem;

      path {
        fill: var(--slate-500);
      }
    }
  }
}
