@scope {
  pre {
    min-width: 0;
    overflow-x: auto;
    padding: 2ch;
  }

  code {
    font-family: "Monaspace", monospace;
    font-palette: --kung-fury;
    font-size: 1.25em;
    background: var(--slate-700);
    padding: 2rem;
    border-radius: 0.25em;
    display: flex;
  }
}

/* https://blog.glyphdrawing.club/font-with-built-in-syntax-highlighting/ */

code {
  --color-curlies-and-tags: hsl(225 100% 40%);
  --color-1: hsl(138, 100%, 80%);
  --color-function: hsl(225 100% 40%);
  --color-3: hsl(225 100% 40%);
  --color-parentheses: hsl(270 50% 40%);
  --color-property-name: hsl(210 40% 2%);
  --color-6: hsl(0, 100%, 50%);
  --color-numbers: hsl(327 100% 54%);
}

@font-palette-values --kung-fury {
  font-family: "Monaspace";
  override-colors: 0 var(--color-curlies-and-tags),
    1 var(--color-1), 2 var(--color-function),
    3 var(--color-3), 4 var(--color-parentheses),
    5 var(--color-property-name), 6 var(--color-6),
    7 var(--color-numbers);
}
