@scope {
  & {
    --font-palette: --kung-fury;
    --font-color: var(--slate-100);
    --background-code: var(--slate-400);
  }

  pre {
    font-size: var(--font-scaled-base);
    overflow-x: auto;
    padding: var(--spacing-md);
    margin-block: unset var(--spacing-md);

    @container style(--code-language: bash) {
      align-items: center;
      background-color: var(--slate-600);
      color: var(--white);
      display: flex;
      font-palette: --bash;
      gap: var(--spacing-sm);

      &::before {
        content: "$";
        display: block;
      }
    }

    @container style(--code-language: html) {
      background-color: var(--slate-700);
      color: var(--white);
      font-palette: --css;
    }

    @container style(--code-language: css) {
      background-color: var(--slate-700);
      color: var(--white);
      font-palette: --css;
    }

    @container style(--code-language: js) {
      background-color: var(--slate-500);
      color: var(--white);
      font-palette: --javascript;
    }
  }

  code {
    color: inherit;
    font-family: var(--font-familiy-code);
    font-size: inherit;
  }
}
