@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(../fonts/playfair-display/Playfair_Display_Normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
  font-feature-settings: "liga", "dlig";
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(../fonts/playfair-display/Playfair_Display_Italic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/inter/Inter.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Monaspace";
  src: url(../fonts/monaspace/Monaspace.woff2) format("woff2");
}

/* https://blog.glyphdrawing.club/font-with-built-in-syntax-highlighting/ */
/* 0  keywords, {} */
/* 1  comments */
/* 2  literals */
/* 3  numbers */
/* 4  functions, [] */
/* 5  js others */
/* 6  not in use */
/* 7  inside quotes, css properties, few chars */
/* 8  few chars */

@font-palette-values --bash {
  font-family: "Monaspace";
  override-colors: 0 hsl(225 100% 40%), 1 hsl(250 100% 80%), 2 hsl(225 100% 40%), 3 hsl(225 100% 40%), 4 hsl(270 50% 40%), 5 hsl(210 40% 2%), 6 hsl(210 10% 30%), 7 hsl(327 100% 54%); 8 hsl(120 100% 50%);
}

@font-palette-values --css {
  font-family: "Monaspace";
  override-colors: 0 red, 1 lightblue, 2 yellow, 3 purple,  4 green,  5 orange, 6 black,  7 hotpink, 8 lime ;
}

@font-palette-values --html {
  font-family: "Monaspace";
  override-colors: 0 red, 1 lightblue, 2 yellow, 3 purple,  4 green,  5 orange, 6 black,  7 hotpink, 8 lime ;
}

@font-palette-values --js {
  font-family: "Monaspace";
  override-colors: 0 red, 1 lightblue, 2 yellow, 3 purple,  4 green,  5 orange, 6 black,  7 hotpink, 8 lime ;
}
