@view-transition {
  navigation: auto;
}

:root {
  accent-color: var(--accent);
}

:focus-visible {
  outline-color: var(--accent);
}

:target {
  background-color: var(--error);
  border-bottom: 2px solid var(--white);
}

::selection {
  background-color: var(--accent);
}

::marker {
  color: var(--accent);
}

:is(
    ::-webkit-calendar-picker-indicator,
    ::-webkit-clear-button,
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
  ) {
  color: var(--accent);
}

:root {
  --si: 20rem;
  --c1: hsla(180, 33%, 30%, 0.123);
  --c2: #ffffff;
  --num: 20;
  --_g: #0000 90deg, var(--c1) 0;
  --background-graph: conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  --background-graph-size: calc(var(--si) / var(--num)) calc(var(--si) / var(--num));
  /* --background-graph: conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  --background-graph-size: var(--si) var(--si),
    calc(var(--si) / var(--num)) calc(var(--si) / var(--num)); */
}

html {
  background-color: var(--colour-bg-site);
  background-color: pink !important;
  color-scheme: var(--color-scheme);
  font-size: var(--root-font-size);
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-color);
  /* scrollbar-gutter: var(--scrollbar-gutter); */
  scrollbar-gutter: auto;
  /* scrollbar-width: var(--scrollbar-width); */

  @media (width >= 768px) {
    --is-desktop: true;
  }

  /* &::view-transition-old(slider) {
    animation: var(--animation-fadeout), var(--animation-slide-to-left);
  }

  &::view-transition-new(slider) {
    animation: var(--animation-fadein), var(--animation-slide-to-right);
  } */
}

body {
  -webkit-font-smoothing: antialiased;
  margin: unset;
  color: var(--body-colour);
  font-family: var(--font-family-base);
  overflow: hidden auto;
}

.graph {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
}

.header-mega-menu {
  .header-surface {
    background-color: oklch(0.9 0 0 / 0.3) !important;
    backdrop-filter: blur(1px);
    border-radius: 0 !important;
  }
}
.article-item {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.hero-item {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.pill {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.article-body {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.article-aside {
  background-color: oklch(0.9 0 0 / 0.2) !important;
  backdrop-filter: blur(2px);
  border-radius: 0 !important;
}

.section-blog {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.docs-body {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.docs-nav {
  background-color: oklch(0.9 0 0 / 0.3) !important;
  backdrop-filter: blur(1px);
  border-radius: 0 !important;
}

.hero-box {
  filter: grayscale(0.5);
  opacity: 0.5;
}
