@scope {
  & {
    --grid-column: bro 3 / bro 11;

    background-color: var(--slate-200);
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 1rem;
  }

  ul {
    /* padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; */

    li {
      grid-column: span 4;
      list-style-type: none;
      flex: 1 1 20rem;

      a {
        background: #eee;
        padding: 0.2rem 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        display: inline-flex;
      }
    }
  }
}
