@scope {
  & {
    --grid-column: bro 3 / bro 11;

    background-color: var(--slate-200);
    border-radius: 0.5rem;
    display: grid;
    gap: 1rem;
    /* grid-column: var(--grid-column); */
    grid-template-columns: subgrid;
    padding: 1rem;

    /* @container style(--is-desktop: true) {
      --grid-column: col;
    } */
  }

  ul {
    padding: 0;
    margin: 0;
    grid-column: bro 1 / span 12;
    display: grid;
    grid-template-columns: subgrid;
    
    li {
      grid-column: span 4;
      list-style-type: none;
      
      @container style(--is-desktop: true) {
        grid-column: span 4;
      }

      a {
        background: #eee;
        padding: 0.2rem 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        display: inline-flex;
      }
    }
  }
}
