@scope {
  :scope {
    --nav-columns: 5 / col-end;

    align-items: center;
    display: grid;
    gap: 1em;
    grid-column: var(--nav-columns);
    grid-template-columns: subgrid;
    margin: var(--nav-margin, 0 1rem);
  }
}
