html {
  scroll-behavior: smooth;
  background-color: var(--slate-600);
}

button,
a {
  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: var(--outline-offset, -0.5em);
  }
}
