::selection {
  background: var(--accent);
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
h3 span,
p {
  text-box-edge: cap alphabetic;
  text-box-trim: both;
  margin-block-start: 0rem;
  margin-block-end: 1rem;
  margin-inline: 0rem;

  &:last-child {
    margin-block-end: 0rem;
  }
}

h1 {
  font-weight: 1000;
  font-size: var(--font-size-xxxl);
  font-family: var(--font-family-headings);
}

h2 {
  font-family: var(--font-family-headings);
  font-feature-settings: "liga", "dlig";
  font-size: var(--font-size-xxl);
  font-style: oblique 0deg 10deg;
  font-weight: 800;
}

h3 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h4 {
  font-size: var(--font-size-lg);
}

h5 {
  font-size: var(--font-size-md);
}

h6 {
  font-size: var(--font-size-base);
}

/* a:not([class]) { */
a {
  color: inherit;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.14em;
  text-decoration-color: var(--accent);
  transition: color 0.2s
    cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

p {
  /* max-width: 500px; */
  line-height: 1.4em;
  letter-spacing: 0.015em;
}

button {
  text-box-edge: cap alphabetic;
  text-box-trim: both;
}

blockquote {
  hanging-punctuation: first last;
}
