@scope {
  & {
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-column: box;
    grid-template-columns: subgrid;
    /* padding: 1rem;
    gap: 1rem; */
    grid-auto-rows: 1rem 1fr;

    grid-template-rows: 1rem repeat(3, 1fr 1rem);

    /* grid-template-rows: 1rem 1fr 1rem 1fr 1rem; */

    &:has(+ .surface) {
      margin-block-end: 2rem;
    }
  }

  .inner {
    display: grid;
    gap: 1rem;
    grid-column: col;
    grid-template-columns: subgrid;
  }
}
