/* @scope { */
/* @scope (&) { */
@scope {
  & {
    --grid-column: center;

    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-column: var(--grid-column);
    grid-template-columns: subgrid;
    /* grid-template-rows: 1rem repeat(3, 1fr 1rem); */
    grid-template-rows: 1rem 1fr 1rem;

    &:has(.inner) {
      grid-template-rows: 1rem 1fr 1rem;
    }

    &:has(+ .surface) {
      margin-block-end: 2rem;
    }
  }

  .inner {
    display: grid;
    grid-column: 3 / -3;
    grid-row: 2;

    &:has(:nth-child(2)) {
      grid-template-columns: subgrid;
    }
  }
}
