@scope {
  & {
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-column: box;
    grid-template-columns: subgrid;
    padding-block: 1rem;
  }

  .inner {
    display: grid;
    gap: 1rem;
    grid-column: col;
    grid-template-columns: subgrid;
  }
}
