@scope {
  & {
    grid-column: box;
    display: grid;
    grid-template-columns: subgrid;
    background-color: white;
    padding-block: 1rem;
    border-radius: 1rem;
    row-gap: 1rem;
    view-transition-name: box;
  }

  .inner {
    grid-column: col;
    display: grid;
    grid-template-columns: subgrid;
    gap: 1rem;
  }
}
