@scope {
  & {
    align-self: start;
    background-color: var(--slate-300);
    border-radius: 0.5rem;
    float: right;
    grid-column: span 3;
    padding: 2rem;
    position: sticky;
    text-align: right;
    top: 1rem;
  }

  ol {
    list-style-type: decimal;
    list-style-type: upper-roman;
    margin: 0;
    list-style-type: decimal-leading-zero;
    counter-reset: listCounter;
    padding-left: 1em;
  }

  li {
    counter-increment: listCounter;

    &::marker {
      content: counter(listCounter, upper-roman) ": ";
    }
  }
}
