@scope {
  & {
    --local-grid-column: var(--grid-column-span);

    background-color: var(--slate-200);
    border-radius: var(--border-radius);
    grid-column: var(--local-grid-column);
    grid-row: var(--grid-row);
    padding: var(--padding);
    transition: var(--transition);
    view-transition-name: var(--transition-article);

    &:has(:hover) {
      background-color: var(--slate-300);
    }

    @container style(--is-desktop: true) {
      --local-grid-column: var(--grid-column);
    }
  }
}
