@scope {
  & {
    --transition: background-color 0.2s
      cubic-bezier(0.45, 0.05, 0.55, 0.95);

    background-color: var(--slate-200);
    border-radius: 0.5rem;
    grid-column: var(--grid-column);
    grid-row: span 1;
    padding: 2rem;
    transition: var(--transition);
    view-transition-name: var(--transition-article);

    /* &:first-child,
    &:last-child {
      grid-column: span 12;
    } */

    &:has(:hover) {
      background-color: var(--slate-300);
    }

    /* @container style(--is-desktop: true) {
      grid-column: span 6;
    } */
  }
}
